/* art view custom css */

@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Do+Hyeon|Gaegu|Lato|Merriweather|Montserrat|Muli|Open+Sans|Oswald|Raleway|Roboto|Roboto+Slab|Slabo+27px|Source+Sans+Pro|Tajawal');

// custom mixins
@mixin black-button {
  padding: 5px 18px;
  color: #ffffff;
  background-color: black;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  font-weight: 600;
}

@mixin round-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  outline: none !important;
  padding: 20px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
  border-radius: 50%;
}


.welcome {
    text-align: center;

    button {
        position: absolute;
        top: 50%;
    }
}

// .modal-body {
    /* 100% = dialog height, 120px = header + footer */
    // max-height: 100%;
    // overflow-y: scroll;
// }

#preview-box {
  max-height: 100%;
height: 100%;
    .modal-lg {
        max-width: 1080px;
        height: 100%;
        max-height: 100%;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 1.5%;
    }
    .preview-box-header {
        border-bottom: 3px solid black;
        font-family: 'Lato', sans-serif;
        .logo {
            display: block;
        }
        .preview-box-title {
            font-size: 20px;
            font-weight: 600;
            margin: 0 auto;
            width: 100%;
            padding-top: 20px;
            padding-left: 0;
            text-align: center
        }
        .btn-group {
            float: right;
            padding-top: 10px;
            .btn-login,
            .btn-sign-up {
                padding: 10px 20px;
                background: transparent;
                border: 2px solid transparent;
                box-sizing: border-box;
                color: black;
                font-size: 20px;
                font-weight: 500;
            }
            .btn-login:hover,
            .btn-sign-up:hover {
                border-color: black;
            }
        }
        .close {
            color: black;
            font-size: 30px;
            opacity: 1;
            padding: 0;
        }
    }
    .preview-box-body {
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        .gallery {
            max-width: 100%;
             height: 100%;
        max-height: 100%;
            .show-case {
                margin: 0 auto;
                position: relative;
                height: 100%;
                max-width: 70%;
                padding: 0 10% 0 10%;
                box-sizing: border-box;
                border-right: 2px solid black;

                .art {
                    max-height: 60%;
                    width: 100%;
                    img {
                        width: 100%;
                    }
                    .art-text {
                        font-family: 'Lato', sans-serif;
                        padding: 5px 0 5px 0;
                        .art-title {
                            font-size: 18px;
                            font-weight: 700;
                        }
                        .art-description > p{
                            font-size: 12px;
                            font-weight: 600;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .drawing-canvas {
            height: 100%;
            max-height: 100%;
            border: 2px solid #bcbcbc;

            .active {
              display: block !important;
            }

            .information{
                z-index: 10;
                width: 100%;
                .measurement-section {
                  width: 100%;
                  display: inline-flex;

                  .btn {
                    @include black-button;
                  }

                  .btn-round {
                    @include round-button;
                    position: absolute;
                    bottom: 20%;
                    right: 20px;
                  }
                }
                .upload-section {
                    width: 31%;
                    margin: 0 auto;
                    img {
                        margin-left: 70px;
                        width: 30%;

                    }

                    p {
                        text-align: center;
                        margin: 0;
                    }

                    .btn-upload {
                      @include black-button;
                    }
                }
            }
        }
    }
}
