.detailWapper {
    width: auto;
    background-color: #fff;
    padding: 20px;
    min-height: 550px;
    text-align: left;
    padding-right: 0;
    /* vertical-align: top; */
}

table {
    empty-cells: show;
}

body,
table {
    font-family: Montserrat-Regular;
    font-size: 13px;
}

.bigImageViewer {
    padding: 10px;
}

.frameImage img {
    height: auto;
    margin-top: 0;
    width: 100%;
    max-width: 700px;
}

.bigImageViewer img {
    border: none;
}

table .titleText {
    font-size: 13px;
    color: #3d4144;
    font-weight: normal;
    font-family: 'Lora';
    text-align: center;
    padding-top: 11px !important;
    padding-bottom: 20px;
}

.searchFrameWrapper,
.alternativeImagesSelector .imageWrapper {
    float: left;
    margin: 7px;
    padding: 10px;
}

.imageWrapper {
    border: none;
    text-align: center;
    font-weight: normal;
    background-color: #f9f2e2;
}

.frameImage .alternativeImagesSelector img {
    height: auto;
    margin-top: 0;
    width: 151px;
}

.alternativeImagesSelector .selected {
    border: none;
    box-shadow: -3px 10px 10px -15px;
}


.alternativeImagesSelector img {
    margin-bottom: 5px;
}

.frameImage img {
    height: auto;
    margin-top: 36px;
    width: 500px;
}

.bigImageViewer img {
    border: none;
}

.frameDetail {
    width: 402px;
    height: 100px;
    float: left;
}

.detailheader {
    width: auto;
    padding: 10px;
    font-family: 'Lora';
    color: #2f2e2a;
    background-color: transparent;
    border: none;
    text-align: left;
    font-size: 26px;
    font-weight: normal;
    border-bottom: 1px solid #9c9a94;
    margin-bottom: 20px;
    padding-left: 0;
}




.framedetailtable {
    width: 100%;
    border-right: none;
}


table tr.odd, table tr.even {
    background-color: transparent;
    border-bottom: 1px solid #f5f5f5;
}

table.manageList tr.odd,
table.framedetailtable tr.odd {
    background-color: transparent;
    /* border-bottom: 1px solid #f5f5f5; */
}

table.manageList tr.even,
table.framedetailtable tr.even {
    background-color: transparent;
}

table.content td,
table.content th {
    padding: 5px;
    border-left: none;
    font-size: 13px;
    font-family: 'Lora';
}

.framedetailtable td {
    padding: .3em;
    font-size: 13px;
}

.summary {
    border: none;
    height: auto;
    margin: 20px auto;
    padding-top: 0px;
    width: 400px;
    background: #f9f2e2;
    padding-bottom: 10px;
}

.summaryheading {
    width: auto;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #d4d4d4;
    text-align: left;
    font-family: Montserrat-Regular;
}

.summarydetails {
    font-weight: normal;
    margin-left: 10px;
    margin-top: 10px;
    font-family: Montserrat-Regular;
}

#frameSold,
#deleteUndelete {
    border: 1px solid #413a30;
    float: right;
    text-align: center;
    margin-bottom: 100px;
    padding: 8px 10px;
}

#frameSold a,
#frameSold a:hover,
#deleteUndelete a,
#deleteUndelete a:hover {
    font-weight: normal;
    color: #000;
}

table a {
    color: #e9c78c;
    text-decoration: none;
}
.veryImportantText {
    font-size: 13px;
    color: #e9c78c;
    text-decoration: underline;
    text-align: center;
}
.frameSoldWrapper, .frameUnavaliableWrapper, table.frameSoldWrapper, table.titleText.frameSoldWrapper {
    color: #e9c78c;
}


.pagecontrol {
    background-color: #f5f5f5;
    padding: 0px;
    height: 52px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border: none;
}
.detailnavigator {
    width: auto;
    margin-top: 0px;
    height: 100%;
    float: none;
    padding: 5px;
}
.detailnavigator .pager {
    float: left;
    width: 100px;
    /* margin-top: 5px; */
}
.detailnavigator form input {
    font-size: 14px;
    background: #fff;
    height: auto;
    border: none;
    padding-left: 5px;
    min-height: 40px;
}
.detailnavigator .pager a {
    color: #000;
}
.inputsubmit {
    background-color: #DEE5DD;
    height: 2em;
    margin-left: 5px;
    border: 1px solid #5D775B;
}

.col-8 {
       max-width: 60.999999% !important;
}
#reset_bt{
    background-image: url('../img/reset.jpg');
    width: 90px;
    height: 35px;
    border: none;
}


input#frameAdminView_0 {
    background: transparent;
    color: #000;
    padding: 8px 15px;
    border: 1px solid #000;
    margin-left: 10px;
}

