body, table {
    font-family: verdana;
    font-size: 16px;
}
html, body {
    padding: 0;
    margin: 0;
}
.list {
    margin: auto;
    width: 1350px;
}
table {
    empty-cells: show;
}
body, table {
    font-family: verdana;
    font-size: 16px;
}
table a {
    color: #739670;
    text-decoration: none;
}
.siteheader {
    color: #5E795A !important;
}

/*  loading Css */
#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}
 .cover-spin-hide {
display:none;
}
.cover-spin-show {
display:block !important;
}
@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}
 
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
 
#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
.loading-text{
top: 48%;
    position: absolute;
    left: 47%;
}
.checkboxvalue{
margin-top: 31px;
}
table a:hover {
    font-weight: bold;
}

#successMessages, #errorMessages {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 30%;
  }
  
  .alert {
    position: relative;
  }
  
  .alert .close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1em;
  }
  
  .alert .fa {
    margin-right:.3em;
  }