
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap');

body,
table {
    font-family: verdana;
    font-size: 16px;
}
html,
body {
    padding: 0;
    margin: 0;
}
.list {
    margin: auto;
    width: 1350px;
}
table {
    empty-cells: show;
}
body,
table {
    font-family: verdana;
    font-size: 16px;
}
table a {
    color: #403A30;
    text-decoration: none;
}
.siteheader {
    color: #403A30 !important;
}

/*  loading Css */
#cover-spin {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: none;
}
.cover-spin-hide {
    display: none;
}
.cover-spin-show {
    display: block !important;
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#cover-spin::after {
    content: "";
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin 0.8s linear infinite;
    animation: spin 0.8s linear infinite;
}

.checkboxvalue {
    margin-top: 31px;
}

#successMessages,
#errorMessages,
#errorMessages-2 {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 30%;
}

.alert {
    position: relative;
}

.alert .close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1em;
}

.alert .fa {
    margin-right: 0.3em;
}

button#menu-toggle {
    background: none;
}

input[type="text"] {
    background: #35312c;
    border-bottom: none ;
    height: 42px;
}

input[type="file" i]::-webkit-file-upload-button {
    background-color: #bfae91 !important;
    -webkit-appearance: none !important;
    color: #fff !important;
    border: none;
    outline: none;
    padding: 3px 13px;
    margin-right: 14px;
}

.card.card-body .select-pure__select {
    align-items: center;
    background: transparent;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    color: #737373;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    justify-content: left;
    min-height: 44px;
    padding: 5px 10px;
    position: relative;
    transition: 0.2s;
    width: 100%;
    border: 2px solid #5a5348;
}

.card.card-body .select-pure__selected-label {
    background: #ffcd75;
    border-radius: 2px;
    color: #030811;
    cursor: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 10px 5px 0;
    padding: 1px 8px;
}

.card.card-body .select-pure__selected-label i {
    cursor: pointer;
    display: inline-block;
    margin-left: 7px;
    font-size: 10px;
    color: #807461;
}


input[type="checkbox"],
input[type="radio"] {
    outline: none;
    width: 18px;
    height: 18px;
    border-radius: 2px !important;
    position: relative;
    background: transparent !important;
    border: 1px solid #ffcd75 !important;
    -webkit-appearance: none;
    transition: .2s all ease-in-out;
}


input[type="checkbox"]:checked,
input[type="radio"]:checked {
    outline: none;
    width: 18px;
    height: 18px;
    position: relative;
    background: transparent !important;
    border: 1px solid #ffcd75 !important;
}






input[type="checkbox"]:checked:after,
input[type="radio"]:checked:after {
    content: "\f00c";
    font-family: "FontAwesome";
    z-index: 99;
    font-size: 14px;
    line-height: 12px;
    color: #ffffff;
    position: relative;
    right: 0;
    top: -6px;
    bottom: 0;
}

.input100 {
    border-radius: 0;
    background: #FFCD75;
}



.login100-form-btn {
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: capitalize;
    width: 100%;
    height: 50px;
    border-radius: 0;
    background: #403A30;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}



.container-login100 {
    background: url(/assets/img/lowy1907-antique-frame-collection.jpg);
}



table.list.welcome-selection {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}



table.list.welcome-selection {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

ul {
    display: flex;
}

.welcome-selection ul {
    display: flex;
}

.welcome-selection ul li {
    width: 100%;
    box-shadow: 0 0 24px -10px #000;
    max-width: 500px;
    margin: 0 auto !important;
    list-style: none;
    background: #E6D1AE;
    margin: 20px;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: 27vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Lora';
}


.welcome-selection ul li:nth-child(2) {
    background: #807461 url(https://lowy1907.com/wp-content/uploads/L1560.png);
}

.welcome-selection a {
    color: #fff;
}


table.list.welcome-selection {
    background: url(/assets/img/welcome-bh.jpg);
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}


.welcome-selection ul li:first-child {
    background: #FFCD75 url(https://lowy1907.com/wp-content/uploads/L5812.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 160%;
}


.welcome-selection td.headerWrapper {
    text-align: right;
    padding: 20px;
}


button#menu-toggle:hover {
    background: none !important;
}
