
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap');


/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
  }
  
  
  @font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
  }
  
  

  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
  

body,
table {
    font-family: Montserrat-Regular;
    font-size: 16px;
}
html,
body {
    padding: 0;
    margin: 0;
}
.list {
    margin: auto;
    width: 1350px;
}
table {
    empty-cells: show;
}
body,
table {
    font-family: Montserrat-Regular;
    font-size: 16px;
}
table a {
    color: #403A30;
    text-decoration: none;
}
.siteheader {
    color: #403A30 !important;
}





     /*  loading Css */
     #cover-spin {
        position: fixed;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgb(35 35 35);
        z-index: 9999;
        display: flex !important;
        align-items: center;
        justify-content: center;
      }
      .cover-spin-hide {
      display:none;
      }
      .cover-spin-show {
      display:block !important;
      }
      @-webkit-keyframes spin {
        from {-webkit-transform:rotate(0deg);}
        to {-webkit-transform:rotate(360deg);}
      }
      
      @keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(360deg);}
      }
      
      #cover-spin::after {
        content: '';
        position: absolute;
        background: url(/assets/img/frame-spin.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        top: 40vh;
        width: 120px;
        height: 120px;
        border-style: groove;
        -webkit-animation: spin 1.5s linear infinite;
        animation: spin 1.5s linear infinite;
        text-shadow: none;
        left: 0;
        border: none;
        right: 0;
        width: 100%;
    }
      .loading-text{
        position: relative;
        text-align: center;
        display: block;
        margin-top: 36vh;
        font-weight: normal;
        letter-spacing: 0;
        font-size: 13px;
        letter-spacing: .2px;
        color: #fff;
        opacity: .6;
      }
  
.checkboxvalue {
    margin-top: 31px;
}

#successMessages,
#errorMessages,
#errorMessages-2 {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 30%;
}

.alert {
    position: relative;
}

.alert .close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1em;
}

.alert .fa {
    margin-right: 0.3em;
}

button#menu-toggle {
    background: none;
}

input[type="text"] {
    background: #35312c;
    border-bottom: none ;
    height: 42px;
}

input[type="file" i]::-webkit-file-upload-button {
    background-color: #bfae91 !important;
    -webkit-appearance: none !important;
    color: #fff !important;
    border: none;
    outline: none;
    padding: 3px 13px;
    margin-right: 14px;
}

.card.card-body .select-pure__select {
    align-items: center;
    background: transparent;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    color: #737373;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    justify-content: left;
    min-height: 44px;
    padding: 5px 10px;
    position: relative;
    transition: 0.2s;
    width: 100%;
    border: 2px solid #5a5348;
}

.card.card-body .select-pure__selected-label {
    background: #ffcd75;
    border-radius: 2px;
    color: #030811;
    cursor: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 10px 5px 0;
    padding: 1px 8px;
}

.card.card-body .select-pure__selected-label i {
    cursor: pointer;
    display: inline-block;
    margin-left: 7px;
    font-size: 10px;
    color: #807461;
}


input[type="checkbox"],
input[type="radio"] {
    outline: none;
    width: 16px;
    height: 16px;
    border-radius: 2px !important;
    position: relative;
    background: transparent !important;
    border: 1px solid #ffcd75 !important;
    -webkit-appearance: none;
    transition: .2s all ease-in-out;
}


input[type="checkbox"]:checked,
input[type="radio"]:checked {
    outline: none;
    width: 16px;
    height: 16px;
    position: relative;
    background: transparent !important;
    border: 1px solid #ffcd75 !important;
}






input[type="checkbox"]:checked:after,
input[type="radio"]:checked:after {
    content: "\f00c";
    font-family: "FontAwesome";
    z-index: 99;
    font-size: 13px;
    line-height: 12px;
    color: #ffffff;
    position: relative;
    right: 0;
    top: -3.2px;
    bottom: 0;
    left: 1.2px;
}

.input100 {
    border-radius: 0;
    background: #FFCD75;
}



.login100-form-btn {
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: capitalize;
    width: 100%;
    height: 50px;
    border-radius: 0;
    background: #403A30;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}



.container-login100 {
    background: url(/assets/img/lowy1907-antique-frame-collection.jpg);
}



table.list.welcome-selection {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}



table.list.welcome-selection {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

ul {
    display: flex;
}

.welcome-selection ul {
    display: flex;
}

.welcome-selection ul li {
    width: 100%;
    box-shadow: 0 0 24px -10px #000;
    max-width: 500px;
    margin: 0 auto !important;
    list-style: none;
    background: #E6D1AE;
    margin: 20px;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: 27vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Lora';
}


.welcome-selection ul li:nth-child(2) {
    background: #807461 url(https://lowy1907.com/wp-content/uploads/L1560.png);
}

.welcome-selection a {
    color: #fff;
}


table.list.welcome-selection {
    background: url(/assets/img/welcome-bh.jpg);
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}


.welcome-selection ul li:first-child {
    background: #FFCD75 url(https://lowy1907.com/wp-content/uploads/L5812.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 160%;
}


.welcome-selection td.headerWrapper {
    text-align: right;
    padding: 20px;
}


button#menu-toggle:hover {
    background: none !important;
}



h1.form-inline.mt-2.mt-md-0.siteheader {
    font-family: 'Lora';
    font-size: 13px;
    letter-spacing: .25px;
    padding-right: 20px;
    padding-top: 14px;
    opacity: .5;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff2dc;
}


.table-bordered td, .table-bordered th {
    border: 1px solid #ffffff;
}


th {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    background: #807461;
    vertical-align: middle !important;
}


.dataTables_wrapper .table td, .dataTables_wrapper .table th {
    padding: 8px 5px 8px 8px;
    font-size: 12px;
    vertical-align: middle !important;
}



tbody {
    font-size: 12px;
}

body .page-link {
    border: none;
    color: #817361;
}


div.dataTables_wrapper div.dataTables_length label, div.dataTables_wrapper div.dataTables_filter label {

    font-size: 12px;
}


.dataTables_wrapper .page-item.active .page-link {
    z-index: 1;
    color: #000;
    background-color: #FFCD75;
    border-color: #000000;
}


.export-link {
    width: auto;
    padding: 5px 17px;
    background: #FFCD75;
    outline: none;
    border: none;
    font-size: 13px;
    box-shadow: none;
    color: #100f0c;
    cursor: pointer;
    transition: .2s all ease-in-out;
    clear: both !important;
    display: inline-block;
    margin-bottom: 20px;
}


.tab-content {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 13px;
}


select.custom-select.custom-select-sm.form-control.form-control-sm {
    border-radius: 0;
    border: 1px solid #817361;
}


div.dataTables_wrapper div.dataTables_filter input {
    border: 1px solid #817361;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000000;
    background-color: #fff;
    border-color: #f9f2e2 #f9f2e2 #fff;
}

ul.nav.nav-tabs {
    padding-top: 20px;
    background: #f9f2e2;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}



footer.footer {
    font-size: 13px;
    text-align: center;
    line-height: 150%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-copyright {
    text-align: center;
    opacity: .4;
}


.lowy-footer {
    margin-top: 10px;
    text-align: left;
    padding-left: 20px;
    color: #817361;
    opacity: .8;
}


.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-family: Montserrat-Regular;
    color: #000;
    font-size: 13px;
    letter-spacing: .5px;
}


.heade-nav {
  background-color: #f1e9d9;
}

@media (max-width: 992px) {


    div#frame_list {
        position: relative;
    }


    a.nav-link {
        padding: 5px;
    }


    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    
      
        border-radius: 0;
        background: #817361;
        color: #fff;
        border: none;
    }


    div.dataTables_wrapper div.dataTables_filter input {
        border-radius: 0;
    }


    .footer > .container {
        padding-right: 15px;
        padding-left: 15px;
        text-align: center;
        margin-bottom: 20px;
    }

    .welcome-selection a {
        color: #fff;
        font-size: 41px;
      }
    
      .welcome-selection ul {
        display: flex;
        flex-direction: column;
      }
      .welcome-selection ul li {
        max-width: 90%;
    
        margin: 20px auto !important;
      }

    #example_wrapper {
        overflow: scroll;
    }
    

    div#example_length {
        text-align: left;
    }

    div#example_filter {
        text-align: left;
    }
    table#example {
        overflow: scroll;
    }
}




