/* Created by Rohan Hapani */
*
		{
			margin: 0;
			padding: 0;
		}
		/* for create magnify glass */
		.large
		{
			width: 200px;
			height: 200px;
			position: absolute;
			border-radius: 100%;
		
			/* for box shadow for glass effect */
			box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 
			0 0 7px 7px rgba(0, 0, 0, 0.25), 
			inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
			
			/*for hide the glass by default*/
			display: none;
		}
		.small
		{
			display: block;
		}